.ContainerTitle {
    text-align: center;
    color: #7ACBCD;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 3rem;
    margin-top: 2rem;
}