.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productCard {
    display: flex;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 1rem 0rem 1rem 0rem;
}

.productImg {
    max-width: 100px; 
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin: 1rem;
    object-fit: contain;
}

.productInfo {
    width: 10rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle {
    color: #7ACBCD;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.productAuthor {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    font-size: 0.9rem;
}

.productDetailCard {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: 2rem 6rem;  
}

.productDetailContainer {
    display: flex;
    flex-direction: row;
}

.productDetailImg {
    width: 10rem; 
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin: 1rem;
    object-fit: contain;
}

.productDetailInfo {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productDetailDescription {
    text-align: justify;
    margin: 0;
}

.productAdd, .productMore, .productCart {
    color: #363636;
    background-color: #7ACBCD;
    border-color: #7ACBCD;
    border: 1px solid transparent;
    padding: 0.6rem 0.8rem;
    border-radius: 0.25rem;
    align-self: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.productAdd:hover, .productMore:hover, .productCart:hover {
    color: #fff;
    background-color: #7a7a7a;
    border-color: #7a7a7a;
}

.productAdd:active, .productMore:active, .productCart:active {
    color: #fff;
    background-color: #7a7a7a;
    border-color: #7a7a7a9c;
    box-shadow: 0 0 0 0.25rem #7a7a7a9c;
}

.productCart {
    background-color: #FBBA72;
    border-color: #FBBA72;
}

.productMore {
    align-self: flex-end;
}