.hero {
    position: relative; 
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: fadeInHero;
    animation-duration: 3s;
    background-color: #000;
    @keyframes fadeInHero {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &::before {    
        content: "";
        background-image: url('../../assets/hero.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.6;
    }
    &Title {
        text-transform: uppercase;
        position: relative;
        color: #ffffff; 
        text-shadow: 5px 5px 10px #000;
        font-size: 3.5rem;
        line-height: 1.2;
        text-align: center;
    }
    &Subtitle {
        position: relative;
        align-self: flex-end;
        padding-right: 5rem;
        padding-top: 1rem;
        color: #ffffff;
        text-shadow: 5px 5px 10px #000;
        font-size: 3rem;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .heroTitle {
        font-size: 2rem;
        padding: 1rem;
    }
    .heroSubtitle {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 991px) {
    .heroTitle {
        font-size: 3rem;
        padding: 2rem;
    }
    .heroSubtitle {
        font-size: 2.5rem;
    }
}