table {
    margin: auto;
}

td {
    min-width: 10rem;
}

.productCartImg {
    max-width: 80px; 
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    margin: 1rem;
    object-fit: contain;
}

.tdNumber {
    text-align: right;
}

.tdClose {
    text-align: center;
}

.closeButton {
    color: grey;
    font-size: 2.5rem;
    &:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.clearCart {
    color: #363636;
    background-color: #7ACBCD;
    border-color: #7ACBCD;
    border: 1px solid transparent;
    padding: 0.6rem 0.8rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    &:hover {
        color: #fff;
        background-color: #7a7a7a;
        border-color: #7a7a7a;
    }
    &:active {
        color: #fff;
        background-color: #7a7a7a;
        border-color: #7a7a7a9c;
        box-shadow: 0 0 0 0.25rem #7a7a7a9c;
    }
}